AuthUserFile /usr/subversion/authentication/passwords
AuthName "Subversion Repository"
AuthType Basic

#RewriteEngine On
#RewriteBase /usr/subversion/www/
#RewriteCond %{QUERY_STRING} action=log
#RewriteRule ^svn/(.*)  log.cgi/$1     [PT,L]
#RewriteCond %{QUERY_STRING} action=get
#RewriteRule ^svn/(.*)  get.cgi/$1     [PT,L]
#RewriteCond %{QUERY_STRING} action=diff
#RewriteRule ^svn/(.*)  diff.cgi/$1    [PT,L]
#RewriteCond %{QUERY_STRING} action=blame
#RewriteRule ^svn/(.*)  blame.cgi/$1   [PT,L]


<Files ~ "password.cgi">
	SetHandler cgi-script
	require valid-user
</Files>

<Files ~ "log.cgi">
	SetHandler cgi-script
	require valid-user
</Files>

<Files ~ "get.cgi">
	SetHandler cgi-script
	require valid-user
</Files>

<Files ~ "diff.cgi">
	SetHandler cgi-script
	require valid-user
</Files>

<Files ~ "blame.cgi">
	SetHandler cgi-script
	require valid-user
</Files>

<Files ~ "admin.cgi">
	SetHandler cgi-script
	require valid-user
</Files>

