/*
 * $Id$
 * Copyright 2004,2005 - Michael Sinz
 */

.tableframe
{
  margin-top: 2px;
}

.tableframe-row-even
{
  background-color: #FFFFFF;
  vertical-align: baseline;
}

.tableframe-row-odd
{
  background-color: #F4F4F4;
  vertical-align: baseline;
}

.tableframe-row-odd td, .tableframe-row-even td
{
  padding: 1px;
}

.tableframe-top
{
  text-align: center;
  vertical-align: center;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  color: black;
}

.tableframe-top-left, .tableframe-top, .tableframe-top-right, .tableframe-top-div
{
  height: 24px;
}

.tableframe-bottom-left, .tableframe-bottom, .tableframe-bottom-right, .tableframe-bottom-div
{
  height: 16px;
}

.tableframe-top-left, .tableframe-left, .tableframe-bottom-left
{
  width: 17px;
}

.tableframe-top-right, .tableframe-right, .tableframe-bottom-right
{
  width: 17px;
}

.tableframe-top-div, .tableframe-div, .tableframe-bottom-div
{
  width: 4px;
}

.tableframe-top-left, .tableframe-top-right, .tableframe-bottom-left, .tableframe-bottom-right, .tableframe-top-div, .tableframe-bottom-div
{
  background-repeat: no-repeat;
}

.tableframe-top, .tableframe-bottom
{
  background-repeat: repeat-x;
}

.tableframe-left, .tableframe-right, .tableframe-div
{
  background-repeat: repeat-y;
}

.tableframe-top-left
{
  background-image: url('./top-left.gif');
  background-position: bottom right;
}

.tableframe-top
{
  background-image: url('./top.gif');
  background-position: bottom left;
}

.tableframe-top-div
{
  background-image: url('./top-div.gif');
  background-position: bottom center;
}

.tableframe-top-right
{
  background-image: url('./top-right.gif');
  background-position: bottom left;
}

.tableframe-left
{
  background-image: url('./left.gif');
  background-position: top right;
}

td.tableframe-div
{
  padding: 0px;
  background-image: url('./div.gif');
  background-position: top center;
}

.tableframe-right
{
  background-image: url('./right.gif');
  background-position: top left;
}

.tableframe-bottom-left
{
  background-image: url('./bottom-left.gif');
  background-position: top right;
}

.tableframe-bottom
{
  background-image: url('./bottom.gif');
  background-position: top left;
}

.tableframe-bottom-div
{
  background-image: url('./bottom-div.gif');
  background-position: top center;
}

.tableframe-bottom-right
{
  background-image: url('./bottom-right.gif');
  background-position: top left;
}

